#8MHz clock
LOCATE COMP "clk" SITE "U18";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

#LEDs
LOCATE COMP "leds[0]" SITE "E3";
LOCATE COMP "leds[1]" SITE "D3";
LOCATE COMP "leds[2]" SITE "C3";
LOCATE COMP "leds[3]" SITE "C4";
LOCATE COMP "leds[4]" SITE "C2";
LOCATE COMP "leds[5]" SITE "B1";

IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33;